/**
 * A Conserto theme for reveal.js presentations.
 */

// Default mixins and settings -----------------
@import "../../node_modules/reveal.js/css/theme/template/mixins";
@import "../../node_modules/reveal.js/css/theme/template/settings";
// ---------------------------------------------

// Override theme settings
$consertoColor: #EB579A;
$mainFont: Helvetica, sans-serif;
$mainColor: #000;
$headingFont: Helvetica, sans-serif;
$headingColor: #000;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #fff;
$linkColor: $consertoColor;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);

section.has-dark-background {
  background-color: $consertoColor;
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import "../../node_modules/reveal.js/css/theme/template/theme";
// ---------------------------------------------
