/**
 * A Conserto theme for reveal.js presentations.
 */

// Default mixins and settings -----------------
@import "../../node_modules/reveal.js/css/theme/template/mixins";
@import "../../node_modules/reveal.js/css/theme/template/settings";
// ---------------------------------------------

// Override theme settings
$consertoColor: #EA5297;
$mainFont: Calibri, Helvetica, sans-serif;
$mainColor: #000;
$headingFont: Calibri, Helvetica, sans-serif;
$headingColor: #000;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #F5F5F5;
$linkColor: $consertoColor;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);

section.has-dark-background {
  background-color: $consertoColor;
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import "../../node_modules/reveal.js/css/theme/template/theme";
// ---------------------------------------------

.reveal .slide-number {
  background-color: $consertoColor;
  border-radius: 50%;
	width: 50px;
	height: 50px;
  right: -25px;
  bottom: 20%;
  text-align: center;

  span.slide-number-a {
    line-height: 50px;
    margin-right: 15px;
  }
}
